{% extends "index.html" %}
{% block page_content %}

<section class="content">
    <div class="error-page">
      <h2 class="headline text-danger"> 403</h2>

      <div class="error-content">
        <h3><i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i> Forbidden!</h3>

        <p>
          You are either not meant to be here, or did not log in yet.
          Please try to <a href="{{url_for('users.login')}}">Login here</a>
        </p>
      </div>
      <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
  </section>
  <!-- /.content -->

{% endblock page_content %}
