
{% extends "public/index.html" %}

{% block page_content %}

    <div class="content-wrapper">
        
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Organisations</h1>
                    </div>
                </div>
            </div>
        </section>

        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col">
                        <div class="card card-outline card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Public Organisations List</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    {% for value in data.items %}
                                        <div class="col-sm-4">
                                            <div class="card">
                                                <div class="card-header">
                                                    <!-- start new publicHeaderRenderFields -->

                                                    <h3 class="card-title text-capitalize">{{value.organisation_name}}</h3>
                                                                <!-- end new publicHeaderRenderFields -->
                                                    <!-- <h3 class="card-title">{{value.name}}</h3> -->
                                                </div>
                                                <div class="card-body">
                                                    <!-- start new publicRenderFields -->

                                                    <p>
                                                        {{value.organisation_name}}
                                                    </p>
        
                                                    <p>
                                                        {{value.organisation_logo}}
                                                    </p>
        
                                                    <p>
                                                        {{value.organisation_description}}
                                                    </p>
        
                                                    <p>
                                                        {{value.organisation_industry}}
                                                    </p>
        
                                                    <p>
                                                        {{value.organisation_contact_name}}
                                                    </p>
        
                                                    <p>
                                                        {{value.organisation_contact_email}}
                                                    </p>
        
                                                    <p>
                                                        {{value.organisation_binding_database_uri}}
                                                    </p>
        
                                                    <p>
                                                        {{value.organisation_address}}
                                                    </p>
        
                                                    <p>
                                                        {{value.organisation_city}}
                                                    </p>
        
                                                    <p>
                                                        {{value.organisation_postal_code}}
                                                    </p>
        
                                                    <p>
                                                        {{value.organisation_country}}
                                                    </p>
        
                                                    <p>
                                                        {{value.organisation_homepage}}
                                                    </p>
        
                                                    <p>
                                                        {{value.organisation_vat_number}}
                                                    </p>
        
                                                    <p>
                                                        {{value.organisation_reg_number}}
                                                    </p>
                                                            <!-- end new publicRenderFields -->
                                                    <!-- {{value.name}} -->
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock page_content %}
