
{% import 'macros/flash.html' as flash with context %}

{% extends "admin/index.html" %}

{% block content %}

<div class="content-wrapper">
        
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Api_keys</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col">
                    <div class="card card-outline card-info">
                        <div class="card-header">
                            <h3 class="card-title">Edit Api_keys</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                    <i class="fa fa-expand"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <form class="form-horizontal" method="POST" action="{{ url_for('api_keys_admin.update', id=data.id) }}?organization={{ organization }}" accept-charset="UTF-8" role="form">
                            {{ form.csrf_token }}
                            <div class="card-body">
                                <!-- start new render_update fields -->

                                <div class="p-1 text-danger" style="{% if not form.api_key.errors %} display:none; {% endif %}">
                                    {% if form.api_key.errors %}
                                        {% for error in form.api_key.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group row">
                                    <label for="api_key" class="col-sm-2 control-label">Api key</label>

                                    
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control {% if form.api_key.errors %} is-invalid {% endif %}" name="api_key" id="api_key" placeholder="Api key" value="{{form.api_key.data}}" autocomplete="api_key" >
                                    </div>
                                </div>
        
                                <div class="p-1 text-danger" style="{% if not form.api_key_notes.errors %} display:none; {% endif %}">
                                    {% if form.api_key_notes.errors %}
                                        {% for error in form.api_key_notes.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group row">
                                    <label for="api_key_notes" class="col-sm-2 control-label">Api key notes</label>

                                    
                                    <div class="col-sm-10">
                                        <textarea class="form-control {% if form.api_key_notes.errors %} is-invalid {% endif %}" name="api_key_notes" id="api_key_notes" placeholder="Api key notes" autocomplete="api_key_notes" >{{form.api_key_notes.data}}</textarea>
                                    </div>
                                </div>
        
                                <div class="p-1 text-danger" style="{% if not form.created_user_id.errors %} display:none; {% endif %}">
                                    {% if form.created_user_id.errors %}
                                        {% for error in form.created_user_id.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group row">
                                    <label for="created_user_id" class="col-sm-2 control-label">Created user id</label>

                                    
                                    <div class="col-sm-10">
                                        <select class="select2 form-control {% if form.created_user_id.errors %} is-invalid {% endif %}" name="created_user_id" id="created_user_id" placeholder="Created user id" autocomplete="created_user_id" >
                                            <option aria-readonly="true" readonly="true" disabled="true">Choose users</option>
                                            {% for obj in users %}
                                                <option value="{{obj.id}}" {% if data.created_user_id == obj.id %} selected="true"{% endif %}>{{obj.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
        
                                <div class="p-1 text-danger" style="{% if not form.valid_from.errors %} display:none; {% endif %}">
                                    {% if form.valid_from.errors %}
                                        {% for error in form.valid_from.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group row">
                                    <label for="valid_from" class="col-sm-2 control-label">Valid from</label>

                                    
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control daterangepicker_single {% if form.valid_from.errors %} is-invalid {% endif %}" name="valid_from" id="valid_from" placeholder="Valid from" value="{{form.valid_from.data}}" autocomplete="valid_from" >
                                    </div>
                                </div>
        
                                <div class="p-1 text-danger" style="{% if not form.valid_to.errors %} display:none; {% endif %}">
                                    {% if form.valid_to.errors %}
                                        {% for error in form.valid_to.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group row">
                                    <label for="valid_to" class="col-sm-2 control-label">Valid to</label>

                                    
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control daterangepicker_single {% if form.valid_to.errors %} is-invalid {% endif %}" name="valid_to" id="valid_to" placeholder="Valid to" value="{{form.valid_to.data}}" autocomplete="valid_to" >
                                    </div>
                                </div>
                                        <!-- this line should be removed and replaced with the renderUpdateFields variable -->
                                <!-- end new render_update fields -->
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <a href="{{ url_for('api_keys_admin.index') }}?organization={{ organization }}"class="btn btn-block btn-default">Cancel</a>
                                    </div>
                                    <div class="col-sm-8">
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="submit" class="btn btn-block btn-info">Update Api_keys</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

{% endblock content %}
