
{% import 'macros/flash.html' as flash with context %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable = yes">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  
  <!-- https://gist.github.com/lancejpollard/1978404 -->
  <!-- https://gist.github.com/whitingx/3840905 -->
  <title>{{ config.SITE_TITLE }}</title>
  <meta name="apple-mobile-web-app-title" content="{{ config.SITE_TITLE }}">
  <meta name="application-name" content="{{ config.SITE_TITLE }}">

  <!-- SEO -->
  <meta name='subtitle' content='{{ config.SEO_SUBTITLE }}'>
  <meta name="summary" content="{{ config.SEO_SUMMARY }}">
  <meta name="abstract" content="{{ config.SEO_ABSTRACT }}">
  <meta name="description" content="{{ config.SITE_DESCRIPTION }}">
  <meta name="keywords" content="{{ config.SEO_KEYWORDS }}">
  <meta name="author" content="{{ config.DEVELOPER_NAME }}">
  <meta name="subject" content="{{ config.SEO_SUBJECT }}">
  <meta name="copyright"content="{{ config.SITE_TITLE }}">
  <meta name="url" content="{{ config.SITE_URL }}">
  <meta name="identifier-URL" content="{{ config.SITE_URL }}">
  <meta name="robots" content="index, follow" />
  <meta name="revisit-after" content="{{ config.SEO_REVISIT_AFTER }}">

  <!-- OpenGraph Meta Tags -->
  <!-- https://ogp.me/ -->
  <meta name="og:title" content="{{ config.SITE_TITLE }}"/>
  <meta name="og:type" content="website"/>
  <meta name="og:url" content="{{ config.SITE_URL }}"/>
  <meta name="og:image" content="{{ url_for('static', filename='images/icon-512.png') }}"/>
  <meta name="og:site_name" content="{{ config.SITE_TITLE }}"/>
  <meta name="og:description" content="{{ config.SITE_DESCRIPTION }}"/>

  <!-- Icons -->
  <link rel="icon" href="{{ url_for('static', filename='images/icon.ico') }}">
  <link rel="shortcut icon" type="image/ico" href="{{ url_for('static', filename='images/icon.ico') }}" />
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/icon-512.png') }}" />
  <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='images/icon-512.png') }}" />
  <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='images/icon-512.png') }}" />
  <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='images/icon-512.png') }}">
 <!--
  <link rel="apple-touch-startup-image" href="images/splash/launch-640x1136.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
  <link rel="apple-touch-startup-image" href="images/splash/launch-750x1294.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
  <link rel="apple-touch-startup-image" href="images/splash/launch-1242x2148.png" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
  <link rel="apple-touch-startup-image" href="images/splash/launch-1125x2436.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
  <link rel="apple-touch-startup-image" href="images/splash/launch-1536x2048.png" media="(min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)">
  <link rel="apple-touch-startup-image" href="images/splash/launch-1668x2224.png" media="(min-device-width: 834px) and (max-device-width: 834px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)">
  <link rel="apple-touch-startup-image" href="images/splash/launch-2048x2732.png" media="(min-device-width: 1024px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)">
 -->
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/icon-512.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/icon-512.png') }}">
  <link rel="icon" href="{{ url_for('static', filename='images/icon-192.png') }}" sizes="192x192" />
  <link rel="icon" href="{{ url_for('static', filename='images/icon-512.png') }}" sizes="512x512" />
  <meta name="msapplication-TileImage" content="{{ url_for('static', filename='images/icon-512.png') }}">

  <!-- PWA -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=yes">
  <meta content="yes" name="apple-touch-fullscreen" />
  <meta name="theme-color" content="{{ config.SITE_THEME_COLOR }}">
  <meta name="msapplication-TileColor" content="{{ config.SITE_THEME_COLOR }}">
  
  <!-- Security -->
  <meta name="csrf-token" content="{{ csrf_token() }}">

  <!-- PWA -->
  <script async src="{{ url_for('static', filename='js/pwacompat.min.js') }}" crossorigin="anonymous" defer></script>
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}" />

  <!-- Local Storage -->
  <script src="{{ url_for('static', filename='js/immortal-db.min.js') }}" defer></script>

  <!-- Helper Functions -->
  <script src="{{ url_for('static', filename='js/helper_functions.js') }}" defer></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  
  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Site CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/adminlte.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
  
  <!-- Register Service Worker -->
  <script src="{{ url_for('static', filename='js/register_sw.js') }}" defer></script>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  
</head>
<body class="hold-transition sidebar-collapse layout-top-nav">
    <div class="menu-hider" style="transform: translate(0px, 0px);">
        <div></div>
    </div>
    <div class="wrapper">
        <!-- Preloader -->
        <div class="preloader">
            <div class="mx-auto my-auto text-center">
                <img class="mx-auto my-auto text-center" src="{{ url_for('static', filename='images/icon-512.png') }}" alt="Flask-BDA" height="60" width="60">
                <div class="mx-auto my-auto text-center">
                    <p class="my-3 text-center" >Loading...</p>
                </div>
            </div>
        </div>
        
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
            <div class="container">
            <a href="../../index3.html" class="navbar-brand">
                <img src="{{ url_for('static', filename='images/icon-512.png') }}" alt="Flask-BDA Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Flask BDA</span>
            </a>

            <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                <!-- Left navbar links -->
                <ul class="navbar-nav">
                <li class="nav-item mx-1">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fa fa-ellipsis-v"></i></a>
                </li>
                <li class="nav-item">
                    <a href="index3.html" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Contact</a>
                </li>
                <li class="nav-item dropdown">
                    <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Dropdown</a>
                    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                    <li><a href="#" class="dropdown-item">Some action </a></li>
                    <li><a href="#" class="dropdown-item">Some other action</a></li>

                    <li class="dropdown-divider"></li>

                    <!-- Level two dropdown-->
                    <li class="dropdown-submenu dropdown-hover">
                        <a id="dropdownSubMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">Hover for action</a>
                        <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
                        <li>
                            <a tabindex="-1" href="#" class="dropdown-item">level 2</a>
                        </li>

                        <!-- Level three dropdown-->
                        <li class="dropdown-submenu">
                            <a id="dropdownSubMenu3" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">level 2</a>
                            <ul aria-labelledby="dropdownSubMenu3" class="dropdown-menu border-0 shadow">
                            <li><a href="#" class="dropdown-item">3rd level</a></li>
                            <li><a href="#" class="dropdown-item">3rd level</a></li>
                            </ul>
                        </li>
                        <!-- End Level three -->

                        <li><a href="#" class="dropdown-item">level 2</a></li>
                        <li><a href="#" class="dropdown-item">level 2</a></li>
                        </ul>
                    </li>
                    <!-- End Level two -->
                    </ul>
                </li>
                </ul>

                <!-- SEARCH FORM -->
                <form class="form-inline ml-0 ml-md-3">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                    <button class="btn btn-navbar" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                    </div>
                </div>
                </form>
            </div>

            <!-- Right navbar links -->
            <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="fa fa-comments"></i>
                    <span class="badge badge-danger navbar-badge">3</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <a href="#" class="dropdown-item">
                    <!-- Message Start -->
                    <div class="media">
                        <img src="../../dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                        <div class="media-body">
                        <h3 class="dropdown-item-title">
                            Brad Diesel
                            <span class="float-right text-sm text-danger"><i class="fa fa-star"></i></span>
                        </h3>
                        <p class="text-sm">Call me whenever you can...</p>
                        <p class="text-sm text-muted"><i class="fa fa-clock mr-1"></i> 4 Hours Ago</p>
                        </div>
                    </div>
                    <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                    <!-- Message Start -->
                    <div class="media">
                        <img src="../../dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                        <div class="media-body">
                        <h3 class="dropdown-item-title">
                            John Pierce
                            <span class="float-right text-sm text-muted"><i class="fa fa-star"></i></span>
                        </h3>
                        <p class="text-sm">I got your message bro</p>
                        <p class="text-sm text-muted"><i class="fa fa-clock mr-1"></i> 4 Hours Ago</p>
                        </div>
                    </div>
                    <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                    <!-- Message Start -->
                    <div class="media">
                        <img src="../../dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                        <div class="media-body">
                        <h3 class="dropdown-item-title">
                            Nora Silvester
                            <span class="float-right text-sm text-warning"><i class="fa fa-star"></i></span>
                        </h3>
                        <p class="text-sm">The subject goes here</p>
                        <p class="text-sm text-muted"><i class="fa fa-clock mr-1"></i> 4 Hours Ago</p>
                        </div>
                    </div>
                    <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                </div>
                </li>
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell"></i>
                    <span class="badge badge-warning navbar-badge">15</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-header">15 Notifications</span>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                    <i class="fa fa-envelope mr-2"></i> 4 new messages
                    <span class="float-right text-muted text-sm">3 mins</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                    <i class="fa fa-users mr-2"></i> 8 friend requests
                    <span class="float-right text-muted text-sm">12 hours</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                    <i class="fa fa-file mr-2"></i> 3 new reports
                    <span class="float-right text-muted text-sm">2 days</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                </div>
                </li>
                <li class="nav-item">
                <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                    <i class="fa fa-th-large"></i>
                </a>
                </li>
            </ul>
            </div>
        </nav>

        <nav class="bottom">
            <a class="active" href="#">
                <span class="badge text-white">1</span>
                <i class="fa fa-home"></i>
                <span>Home</span>
            </a>
            <a href="#">
                <span class="badge text-white">1</span>
                <i class="fa fa-cubes"></i>
                <span>Features</span>
            </a> 
            <a href="#">
                <span class="badge bg-danger">1</span>
                <i class="fa fa-comments"></i>
                <span>Messages</span>
            </a>
            <a href="#" data-widget="pushmenu" href="#" role="button">
                <span class="badge text-white">1</span>
                <i class="fa fa-cog"></i>
                <span>Settings</span>
            </a>
            <a href="#">
                <span class="badge text-white">1</span>
                <i class="fa fa-bars"></i>
                <span>More</span>
            </a>
         </nav>
        <!-- /.navbar -->
        
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">

            <!-- Sidebar -->
            <div class="sidebar">
            <!-- Sidebar user (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            </div>

            <!-- SidebarSearch Form -->
            <div class="form-inline">
                <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                    <i class="fa fa-search fa-fw"></i>
                    </button>
                </div>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="#" class="nav-link">
                    <i class="nav-icon fa fa-tachometer-alt"></i>
                    <p>
                        Dashboard
                        <i class="right fa fa-angle-left"></i>
                    </p>
                    </a>
                    <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="../../index.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Dashboard v1</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../../index2.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Dashboard v2</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../../index3.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Dashboard v3</p>
                        </a>
                    </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="../widgets.html" class="nav-link">
                    <i class="nav-icon fa fa-th"></i>
                    <p>
                        Widgets
                        <span class="right badge badge-danger">New</span>
                    </p>
                    </a>
                </li>
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link active">
                    <i class="nav-icon fa fa-copy"></i>
                    <p>
                        Layout Options
                        <i class="fa fa-angle-left right"></i>
                        <span class="badge badge-info right">6</span>
                    </p>
                    </a>
                    <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="../layout/top-nav.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Top Navigation</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../layout/top-nav-sidebar.html" class="nav-link active">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Top Navigation + Sidebar</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../layout/boxed.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Boxed</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../layout/fixed-sidebar.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Fixed Sidebar</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../layout/fixed-sidebar-custom.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Fixed Sidebar <small>+ Custom Area</small></p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../layout/fixed-topnav.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Fixed Navbar</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../layout/fixed-footer.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Fixed Footer</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../layout/collapsed-sidebar.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Collapsed Sidebar</p>
                        </a>
                    </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                    <i class="nav-icon fa fa-chart-pie"></i>
                    <p>
                        Charts
                        <i class="right fa fa-angle-left"></i>
                    </p>
                    </a>
                    <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="../charts/chartjs.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>ChartJS</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../charts/flot.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Flot</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../charts/inline.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Inline</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../charts/uplot.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>uPlot</p>
                        </a>
                    </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                    <i class="nav-icon fa fa-tree"></i>
                    <p>
                        UI Elements
                        <i class="fa fa-angle-left right"></i>
                    </p>
                    </a>
                    <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="../UI/general.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>General</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../UI/icons.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Icons</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../UI/buttons.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Buttons</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../UI/sliders.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Sliders</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../UI/modals.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Modals & Alerts</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../UI/navbar.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Navbar & Tabs</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../UI/timeline.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Timeline</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../UI/ribbons.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Ribbons</p>
                        </a>
                    </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                    <i class="nav-icon fa fa-edit"></i>
                    <p>
                        Forms
                        <i class="fa fa-angle-left right"></i>
                    </p>
                    </a>
                    <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="../forms/general.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>General Elements</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../forms/advanced.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Advanced Elements</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../forms/editors.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Editors</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../forms/validation.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Validation</p>
                        </a>
                    </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                    <i class="nav-icon fa fa-table"></i>
                    <p>
                        Tables
                        <i class="fa fa-angle-left right"></i>
                    </p>
                    </a>
                    <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="../tables/simple.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Simple Tables</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../tables/data.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>DataTables</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../tables/jsgrid.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>jsGrid</p>
                        </a>
                    </li>
                    </ul>
                </li>
                <li class="nav-header">EXAMPLES</li>
                <li class="nav-item">
                    <a href="../calendar.html" class="nav-link">
                    <i class="nav-icon fa fa-calendar-alt"></i>
                    <p>
                        Calendar
                        <span class="badge badge-info right">2</span>
                    </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../gallery.html" class="nav-link">
                    <i class="nav-icon fa fa-image"></i>
                    <p>
                        Gallery
                    </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../kanban.html" class="nav-link">
                    <i class="nav-icon fa fa-columns"></i>
                    <p>
                        Kanban Board
                    </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                    <i class="nav-icon fa fa-envelope"></i>
                    <p>
                        Mailbox
                        <i class="fa fa-angle-left right"></i>
                    </p>
                    </a>
                    <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="../mailbox/mailbox.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Inbox</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../mailbox/compose.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Compose</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../mailbox/read-mail.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Read</p>
                        </a>
                    </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                    <i class="nav-icon fa fa-book"></i>
                    <p>
                        Pages
                        <i class="fa fa-angle-left right"></i>
                    </p>
                    </a>
                    <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="../examples/invoice.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Invoice</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../examples/profile.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Profile</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../examples/e-commerce.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>E-commerce</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../examples/projects.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Projects</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../examples/project-add.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Project Add</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../examples/project-edit.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Project Edit</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../examples/project-detail.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Project Detail</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../examples/contacts.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Contacts</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../examples/faq.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>FAQ</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../examples/contact-us.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Contact us</p>
                        </a>
                    </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                    <i class="nav-icon fa fa-plus-square"></i>
                    <p>
                        Extras
                        <i class="fa fa-angle-left right"></i>
                    </p>
                    </a>
                    <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>
                            Login & Register v1
                            <i class="fa fa-angle-left right"></i>
                        </p>
                        </a>
                        <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../examples/login.html" class="nav-link">
                            <i class="fa fa-circle nav-icon"></i>
                            <p>Login v1</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../examples/register.html" class="nav-link">
                            <i class="fa fa-circle nav-icon"></i>
                            <p>Register v1</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../examples/forgot-password.html" class="nav-link">
                            <i class="fa fa-circle nav-icon"></i>
                            <p>Forgot Password v1</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../examples/recover-password.html" class="nav-link">
                            <i class="fa fa-circle nav-icon"></i>
                            <p>Recover Password v1</p>
                            </a>
                        </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>
                            Login & Register v2
                            <i class="fa fa-angle-left right"></i>
                        </p>
                        </a>
                        <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../examples/login-v2.html" class="nav-link">
                            <i class="fa fa-circle nav-icon"></i>
                            <p>Login v2</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../examples/register-v2.html" class="nav-link">
                            <i class="fa fa-circle nav-icon"></i>
                            <p>Register v2</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../examples/forgot-password-v2.html" class="nav-link">
                            <i class="fa fa-circle nav-icon"></i>
                            <p>Forgot Password v2</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../examples/recover-password-v2.html" class="nav-link">
                            <i class="fa fa-circle nav-icon"></i>
                            <p>Recover Password v2</p>
                            </a>
                        </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="../examples/lockscreen.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Lockscreen</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../examples/legacy-user-menu.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Legacy User Menu</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../examples/language-menu.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Language Menu</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../examples/404.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Error 404</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../examples/500.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Error 500</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../examples/pace.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Pace</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../examples/blank.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Blank Page</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../../starter.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Starter Page</p>
                        </a>
                    </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                    <i class="nav-icon fa fa-search"></i>
                    <p>
                        Search
                        <i class="fa fa-angle-left right"></i>
                    </p>
                    </a>
                    <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="../search/simple.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Simple Search</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../search/enhanced.html" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Enhanced</p>
                        </a>
                    </li>
                    </ul>
                </li>
                <li class="nav-header">MISCELLANEOUS</li>
                <li class="nav-item">
                    <a href="../../iframe.html" class="nav-link">
                    <i class="nav-icon fa fa-ellipsis-h"></i>
                    <p>Tabbed IFrame Plugin</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://adminlte.io/docs/3.1/" class="nav-link">
                    <i class="nav-icon fa fa-file"></i>
                    <p>Documentation</p>
                    </a>
                </li>
                <li class="nav-header">MULTI LEVEL EXAMPLE</li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                    <i class="fa fa-circle nav-icon"></i>
                    <p>Level 1</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                    <i class="nav-icon fa fa-circle"></i>
                    <p>
                        Level 1
                        <i class="right fa fa-angle-left"></i>
                    </p>
                    </a>
                    <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Level 2</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>
                            Level 2
                            <i class="right fa fa-angle-left"></i>
                        </p>
                        </a>
                        <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                            <i class="fa fa-dot-circle nav-icon"></i>
                            <p>Level 3</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                            <i class="fa fa-dot-circle nav-icon"></i>
                            <p>Level 3</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                            <i class="fa fa-dot-circle nav-icon"></i>
                            <p>Level 3</p>
                            </a>
                        </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p>Level 2</p>
                        </a>
                    </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                    <i class="fa fa-circle nav-icon"></i>
                    <p>Level 1</p>
                    </a>
                </li>
                <li class="nav-header">LABELS</li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                    <i class="nav-icon fa fa-circle text-danger"></i>
                    <p class="text">Important</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                    <i class="nav-icon fa fa-circle text-warning"></i>
                    <p>Warning</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                    <i class="nav-icon fa fa-circle text-info"></i>
                    <p>Informational</p>
                    </a>
                </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        
        <!-- Flash Messages -->
        {{ flash.render() }}

        <!-- Page Content -->
        {% block page_content %}
            
        {% endblock page_content %}
        
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div id="notification-menu" data-dismiss="notification-menu" data-delay="3000" data-autohide="false" class="notification bg-theme shadow-xl mx-auto mb-1">
                        <div class="toast-header">
                            <strong class="mr-auto">Notification</strong>
                            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="toast-body bg-white">
        
                            <div class="col-12">
                                <!-- Install Button -->
                                <a id="installButton" class="pwa-install btn btn-success btn-xs" href="#" role="button">Install</a>
                                <!-- Install Javascript -->
                                <script src="{{ url_for('static', filename='js/install_prompt.js') }}" defer></script>
                                
                                <!-- Web Push Notification Button -->
                                <a id="webPushButton" class="btn btn-success btn-xs" role="button">Allow Notifications</a>
                                <!-- Web Push Javascript -->
                                <script src="{{ url_for('static', filename='js/web_push.js') }}" defer></script>
                                <!-- Share Buttons -->
                                <a class="btn btn-primary btn-xs shareButton">Share</a>
                                <!-- Share Javascript -->
                                <script src="{{ url_for('static', filename='js/web_share.js') }}" defer></script>
                            </div>
                            <div class="col-12">
                            </div>
                            <div class="col-12">
                                We always listen to your feedback, so we added Boostrap to our items. Just as fast as before, only now, with code you are familiar with slightly upgraded for maximum performance!
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-6">
                        <h1 class="m-0">Starter Page</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Starter Page</li>
                        </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
        
            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Card title</h5>
        
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
        
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
        
                    <div class="card card-primary card-outline">
                        <div class="card-body">
                        <h5 class="card-title">Card title</h5>
        
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                        </div>
                    </div><!-- /.card -->
                    </div>
                    <!-- /.col-md-6 -->
                    <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                        <h5 class="m-0">Featured</h5>
                        </div>
                        <div class="card-body">
                        <h6 class="card-title">Special title treatment</h6>
        
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
        
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                        <h5 class="m-0">Featured</h5>
                        </div>
                        <div class="card-body">
                        <h6 class="card-title">Special title treatment</h6>
        
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    </div>
                    <!-- /.col-md-6 -->
                </div>
                <!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
        <div class="p-3">
            <h5>Title</h5>
            <p>Sidebar content</p>
            <div>
                Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
            </div>
        </div>
        </aside>
        <!-- /.control-sidebar -->
    
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                Build something awesome
            </div>
            <!-- Default to the left -->
            <span>
                <strong>&copy; 2021 <a href="https://github.com/RyanJulyan/Flask-BDA/tree/main">Flask-BDA</a>.</strong> All rights reserved.
            </span>
        </footer>
    </div>
    <!-- ./wrapper -->

    <!-- htmx Javascript -->
    <script src="https://unpkg.com/htmx.org@1.2.1" defer></script>
    
    <!-- JQuery Javascript -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}" crossorigin="anonymous"></script>
    <!-- Bootstrap Javascript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" crossorigin="anonymous"></script>
    
    <!-- Site Javascript -->
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script>
    
</body>
</html>
