
{% import 'macros/flash.html' as flash with context %}

{% extends "index.html" %}

{% block page_content %}

<div class="login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="{{ url_for('landing') }}"><b>{{config.SITE_TITLE}}</b></a>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>
        
                <form action="recover-password.html" method="post">
                    {{ form.csrf_token }}
                    <div class="p-1 text-danger" style="{% if not form.email.errors %} display:none; {% endif %}">
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="input mb-3">
                        <input type="email" name="email" id="email" class="form-control" placeholder="Email" required="true">
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Request new password</button>
                        </div>
                    </div>
                </form>
            
                <p class="mb-1">
                    <a href="{{ url_for('user.login') }}">Login</a>
                </p>
                <p class="mb-0">
                    <a href="{{ url_for('user.register') }}" class="text-center">Register</a>
                </p>
            </div>
        </div>
    </div>
  </div>

<h1>Forgot Your Password?</h1>
<br />
<form class="form-signin" role="form" method="post" action="">
  {{ form.csrf_token }}
  {{ form.email(placeholder="email") }}
    <span class="error">
      {% if form.email.errors %}
        {% for error in form.email.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <button class="btn btn-success" type="submit">Reset your password</button>
</form>
<ul>
<li>Back to <a href="/login">login</a></li>
<li>Need to <a href="/register">register</a>?</li>
</ul>

{% endblock page_content %}