
{% import 'macros/flash.html' as flash with context %}

{% extends "admin/index.html" %}

{% block content %}

<div class="content-wrapper">
        
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Calendar_definitions</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col">
                    <div class="card card-outline card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Create Calendar_definitions</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                    <i class="fa fa-expand"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <form class="form-horizontal" method="POST" action="{{ url_for('calendar_definitions_admin.store') }}?organization={{ organization }}" accept-charset="UTF-8" role="form">
                            {{ form.csrf_token }}
                            <div class="card-body">
                                <!-- start new render fields -->

                                <div class="form-group row">
                                    <label for="name" class="col-sm-2 control-label">Name</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="name" id="name" placeholder="Name" autocomplete="name" >
                                    </div>
                                </div>
        
                                <div class="form-group row">
                                    <label for="start" class="col-sm-2 control-label">Start</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="start" id="start" placeholder="Start" autocomplete="start" >
                                    </div>
                                </div>
        
                                <div class="form-group row">
                                    <label for="end" class="col-sm-2 control-label">End</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="end" id="end" placeholder="End" autocomplete="end" >
                                    </div>
                                </div>
        
                                <div class="form-group row">
                                    <label for="range_history_periods" class="col-sm-2 control-label">Range history periods</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="range_history_periods" id="range_history_periods" placeholder="Range history periods" autocomplete="range_history_periods" >
                                    </div>
                                </div>
        
                                <div class="form-group row">
                                    <label for="range_future_periods" class="col-sm-2 control-label">Range future periods</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="range_future_periods" id="range_future_periods" placeholder="Range future periods" autocomplete="range_future_periods" >
                                    </div>
                                </div>
        
                                <div class="form-group row">
                                    <label for="freq_period_start_day" class="col-sm-2 control-label">Freq period start day</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="freq_period_start_day" id="freq_period_start_day" placeholder="Freq period start day" autocomplete="freq_period_start_day" >
                                    </div>
                                </div>
        
                                <div class="form-group row">
                                    <label for="freq_normalize" class="col-sm-2 control-label">Freq normalize</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="freq_normalize" id="freq_normalize" placeholder="Freq normalize" autocomplete="freq_normalize" >
                                    </div>
                                </div>
        
                                <div class="form-group row">
                                    <label for="freq_closed" class="col-sm-2 control-label">Freq closed</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="freq_closed" id="freq_closed" placeholder="Freq closed" autocomplete="freq_closed" >
                                    </div>
                                </div>
        
                <!-- end new render fields -->
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <a href="{{ url_for('calendar_definitions_admin.index') }}?organization={{ organization }}"class="btn btn-block btn-default">Cancel</a>
                                    </div>
                                    <div class="col-sm-8">
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="submit" class="btn btn-block btn-primary">Create Calendar_definitions</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

  
{% endblock content %}
