
{% import 'macros/flash.html' as flash with context %}

{% extends "admin/index.html" %}

{% block content %}

<div class="content-wrapper">
        
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Organisations</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col">
                    <div class="card card-outline card-info">
                        <div class="card-header">
                            <h3 class="card-title">View Organisations</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                    <i class="fa fa-expand"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- start new render_update fields -->

                                <div class="form-group">
                                    <label for="organisation_name" class="col-sm-2 control-label">Organisation name</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="organisation_name" id="organisation_name" placeholder="Organisation name" value="{{data.organisation_name}}"  autocomplete="organisation_name" >
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <label for="organisation_logo" class="col-sm-2 control-label">Organisation logo</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="organisation_logo" id="organisation_logo" placeholder="Organisation logo" value="{{data.organisation_logo}}"  autocomplete="organisation_logo" >
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <label for="organisation_description" class="col-sm-2 control-label">Organisation description</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="organisation_description" id="organisation_description" placeholder="Organisation description" value="{{data.organisation_description}}"  autocomplete="organisation_description" >
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <label for="organisation_industry" class="col-sm-2 control-label">Organisation industry</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="organisation_industry" id="organisation_industry" placeholder="Organisation industry" value="{{data.organisation_industry}}"  autocomplete="organisation_industry" >
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <label for="organisation_contact_name" class="col-sm-2 control-label">Organisation contact name</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="organisation_contact_name" id="organisation_contact_name" placeholder="Organisation contact name" value="{{data.organisation_contact_name}}"  autocomplete="organisation_contact_name" >
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <label for="organisation_contact_email" class="col-sm-2 control-label">Organisation contact email</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="organisation_contact_email" id="organisation_contact_email" placeholder="Organisation contact email" value="{{data.organisation_contact_email}}"  autocomplete="organisation_contact_email" >
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <label for="organisation_binding_database_uri" class="col-sm-2 control-label">Organisation binding database uri</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="organisation_binding_database_uri" id="organisation_binding_database_uri" placeholder="Organisation binding database uri" value="{{data.organisation_binding_database_uri}}"  autocomplete="organisation_binding_database_uri" >
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <label for="organisation_address" class="col-sm-2 control-label">Organisation address</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="organisation_address" id="organisation_address" placeholder="Organisation address" value="{{data.organisation_address}}"  autocomplete="organisation_address" >
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <label for="organisation_city" class="col-sm-2 control-label">Organisation city</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="organisation_city" id="organisation_city" placeholder="Organisation city" value="{{data.organisation_city}}"  autocomplete="organisation_city" >
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <label for="organisation_postal_code" class="col-sm-2 control-label">Organisation postal code</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="organisation_postal_code" id="organisation_postal_code" placeholder="Organisation postal code" value="{{data.organisation_postal_code}}"  autocomplete="organisation_postal_code" >
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <label for="organisation_country" class="col-sm-2 control-label">Organisation country</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="organisation_country" id="organisation_country" placeholder="Organisation country" value="{{data.organisation_country}}"  autocomplete="organisation_country" >
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <label for="organisation_homepage" class="col-sm-2 control-label">Organisation homepage</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="organisation_homepage" id="organisation_homepage" placeholder="Organisation homepage" value="{{data.organisation_homepage}}"  autocomplete="organisation_homepage" >
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <label for="organisation_vat_number" class="col-sm-2 control-label">Organisation vat number</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="organisation_vat_number" id="organisation_vat_number" placeholder="Organisation vat number" value="{{data.organisation_vat_number}}"  autocomplete="organisation_vat_number" >
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <label for="organisation_reg_number" class="col-sm-2 control-label">Organisation reg number</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="organisation_reg_number" id="organisation_reg_number" placeholder="Organisation reg number" value="{{data.organisation_reg_number}}"  autocomplete="organisation_reg_number" >
                                    </div>
                                </div>
                                    <!-- this line should be removed and replaced with the renderUpdateFields variable -->
                            <!-- end new render_update fields -->
                        </div>
                        <div class="card-footer">
                            </div class="row">
                                <div class="col-sm-2">
                                    <a href="{{ url_for('organisations_admin.index') }}?organization={{ organization }}"class="btn btn-block btn-default">Cancel</a>
                                </div>
                                <div class="col-sm-8">
                                </div>
                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-block btn-info">Update Organisations</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

{% endblock content %}
