
{% import 'macros/flash.html' as flash with context %}

{% extends "admin/index.html" %}

{% block content %}

<div class="content-wrapper">
        
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Xyz</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col">
                    <div class="card card-outline card-info">
                        <div class="card-header">
                            <h3 class="card-title">Edit Xyz</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                    <i class="fa fa-expand"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <form class="form-horizontal" method="POST" action="{{ url_for('xyz_admin.update', id=data.id) }}?organization={{ organization }}" accept-charset="UTF-8" role="form">
                            {{ form.csrf_token }}
                            <div class="card-body">
                                <!-- start new render_update fields -->
                                <!-- this line should be removed and replaced with the renderUpdateFields variable -->
                                <!-- end new render_update fields -->
                            </div>
                            <div class="card-footer">
                                </div class="row">
                                    <div class="col-sm-2">
                                        <a href="{{ url_for('xyz_admin.index') }}?organization={{ organization }}"class="btn btn-block btn-default">Cancel</a>
                                    </div>
                                    <div class="col-sm-8">
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="submit" class="btn btn-block btn-info">Update Xyz</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

{% endblock content %}
