
{% extends "admin/index.html" %}

{% block content %}

    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Edit Xyz</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" method="POST" action="{{ url_for('xyz_admin.update', id=data.id) }}" accept-charset="UTF-8" role="form">
            {{ form.csrf_token }}
            <div class="box-body">
                <!-- start new render_update fields -->
                <!-- this line should be removed and replaced with the renderUpdateFields variable -->
                <!-- end new render_update fields -->
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>

                    <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                        <input type="checkbox"> Remember me
                        </label>
                    </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="{{ url_for('xyz_admin.index') }}"class="btn btn-default">Cancel</a>
                <button type="submit" class="btn btn-info pull-right">Update Xyz</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>

  <div class="lg:flex lg:items-center lg:justify-between">
    <div class="flex-1 min-w-0">
      <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
        Edit Xyz
      </h2>
    </div>
  </div>
    
  <div class="hidden sm:block" aria-hidden="true">
    <div class="py-5">
      <div class="border-t border-gray-200"></div>
    </div>
  </div>
  
  <div class="mt-10 sm:mt-0">
    <div class="md:grid md:grid-cols-2 md:gap-6">
      <div class="mt-5 md:mt-0 md:col-span-2">
        <form method="POST" action="{{ url_for('xyz_admin.update', id=data.id) }}" accept-charset="UTF-8" role="form">
          {{ form.csrf_token }}
          <div class="shadow overflow-hidden sm:rounded-md">
            <div class="px-4 py-5 bg-white sm:p-6">
              <div class="grid grid-cols-2 gap-6">
                <!-- start new render_update fields -->
                <!-- this line should be removed and replaced with the renderUpdateFields variable -->
                <!-- end new render_update fields -->
              </div>
            </div>
            <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
              <a href="{{ url_for('xyz_admin.index') }}" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                Cancel
              </a>
              <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Update Xyz
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  

{% endblock content %}
