
{% extends "admin/index.html" %}

{% block content %}

<div class="content-wrapper">
        
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Hierarchies</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col">
                    <div class="card card-outline card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Create Hierarchies</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <form class="form-horizontal" method="POST" action="{{ url_for('hierarchies_admin.store') }}" accept-charset="UTF-8" role="form">
                        {{ form.csrf_token }}
                            <div class="card-body">
                                <div class="form-group row">
                                    <!-- start new render fields -->

                                    <div class="form-group row">
                                        <label for="organisation_id" class="col-sm-2 control-label">Organisation id</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="organisation_id" id="organisation_id" placeholder="Organisation id" autocomplete="organisation_id" >
                                        </div>
                                    </div>
                        
                                    <div class="form-group row">
                                        <label for="name" class="col-sm-2 control-label">Name</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="name" id="name" placeholder="Name" autocomplete="name" >
                                        </div>
                                    </div>
                        
                                    <div class="form-group row">
                                        <label for="path" class="col-sm-2 control-label">Path</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="path" id="path" placeholder="Path" autocomplete="path" >
                                        </div>
                                    </div>
                        
                                    <div class="form-group row">
                                        <label for="rank" class="col-sm-2 control-label">Rank</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="rank" id="rank" placeholder="Rank" autocomplete="rank" >
                                        </div>
                                    </div>
                        
                                    <div class="form-group row">
                                        <label for="parent_id" class="col-sm-2 control-label">Parent id</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="parent_id" id="parent_id" placeholder="Parent id" autocomplete="parent_id" >
                                        </div>
                                    </div>
                        
                                    <div class="form-group row">
                                        <label for="key_value" class="col-sm-2 control-label">Key value</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="key_value" id="key_value" placeholder="Key value" autocomplete="key_value" >
                                        </div>
                                    </div>
                        
                                    <!-- end new render fields -->
                                </div>
                                <a href="{{ url_for('hierarchies_admin.index') }}"class="btn btn-default">Cancel</a>
                                <button type="submit" class="btn btn-info pull-right">Create Hierarchies</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Create Hierarchies</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" method="POST" action="{{ url_for('hierarchies_admin.store') }}" accept-charset="UTF-8" role="form">
            {{ form.csrf_token }}
            <div class="box-body">
                <!-- start new render fields -->

                    <div class="form-group">
                        <label for="organisation_id" class="col-sm-2 control-label">Organisation id</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="organisation_id" id="organisation_id" placeholder="Organisation id" autocomplete="organisation_id" >
                        </div>
                    </div>
        
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Name</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Name" autocomplete="name" >
                        </div>
                    </div>
        
                    <div class="form-group">
                        <label for="path" class="col-sm-2 control-label">Path</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="path" id="path" placeholder="Path" autocomplete="path" >
                        </div>
                    </div>
        
                    <div class="form-group">
                        <label for="rank" class="col-sm-2 control-label">Rank</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="rank" id="rank" placeholder="Rank" autocomplete="rank" >
                        </div>
                    </div>
        
                    <div class="form-group">
                        <label for="parent_id" class="col-sm-2 control-label">Parent id</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="parent_id" id="parent_id" placeholder="Parent id" autocomplete="parent_id" >
                        </div>
                    </div>
        
                    <div class="form-group">
                        <label for="key_value" class="col-sm-2 control-label">Key value</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="key_value" id="key_value" placeholder="Key value" autocomplete="key_value" >
                        </div>
                    </div>
        
                <!-- end new render fields -->
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>

                    <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                        <input type="checkbox"> Remember me
                        </label>
                    </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="{{ url_for('hierarchies_admin.index') }}"class="btn btn-default">Cancel</a>
                <button type="submit" class="btn btn-info pull-right">Create Hierarchies</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>

        </div>
    </div>

</div>

  
{% endblock content %}
