
{% import 'macros/flash.html' as flash with context %}

{% extends "admin/index.html" %}

{% block content %}

<div class="content-wrapper">
        
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Hierarchies</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col">
                    <div class="card card-outline card-info">
                        <div class="card-header">
                            <h3 class="card-title">View Hierarchies</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                    <i class="fa fa-expand"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- start new render_update fields -->

                                <div class="form-group">
                                    <label for="organisation_id" class="col-sm-2 control-label">Organisation id</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="organisation_id" id="organisation_id" placeholder="Organisation id" value="{{data.organisation_id}}"  autocomplete="organisation_id" >
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label">Name</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="name" id="name" placeholder="Name" value="{{data.name}}"  autocomplete="name" >
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <label for="path" class="col-sm-2 control-label">Path</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="path" id="path" placeholder="Path" value="{{data.path}}"  autocomplete="path" >
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <label for="level" class="col-sm-2 control-label">Level</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="level" id="level" placeholder="Level" value="{{data.level}}"  autocomplete="level" >
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <label for="parent_id" class="col-sm-2 control-label">Parent id</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="parent_id" id="parent_id" placeholder="Parent id" value="{{data.parent_id}}"  autocomplete="parent_id" >
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <label for="key_value" class="col-sm-2 control-label">Key value</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="key_value" id="key_value" placeholder="Key value" value="{{data.key_value}}"  autocomplete="key_value" >
                                    </div>
                                </div>
                                    <!-- this line should be removed and replaced with the renderUpdateFields variable -->
                            <!-- end new render_update fields -->
                        </div>
                        <div class="card-footer">
                            </div class="row">
                                <div class="col-sm-2">
                                    <a href="{{ url_for('hierarchies_admin.index') }}?organization={{ organization }}"class="btn btn-block btn-default">Cancel</a>
                                </div>
                                <div class="col-sm-8">
                                </div>
                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-block btn-info">Update Hierarchies</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

{% endblock content %}
